@import url('https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed:400,700&display=swap');

:root {
   --red: hsl(0, 100%, 68%);
   --veryDarkBlue: hsl(230, 29%, 20%);
   --darkGrayishBlue: hsl(230, 11%, 40%);
   --grayishBlue: hsl(231, 7%, 65%);
   --lightGrayishBlue: hsl(207, 33%, 95%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    overflow-x: hidden;
}

body::after {
    width: 64vw;
    height: 52vh;
    content: " ";
    background-color: var(--lightGrayishBlue);
    position: absolute;
    top: 0;
    right: -58px;
    z-index: -10;
    border-bottom-left-radius: 70px ;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
}

.header__nav__list {
    display: none;
}

.main__img {
    width: 135%;
    padding-left: 13px;
}

.main__text {
    padding: 100px 40px 80px 40px;
}

.resaltado {
    background-color: var(--veryDarkBlue);
    color: white;
    padding: 0.3em;
    border-radius: 1em;
    font-family: "Barlow Condensed";
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px
}

.gris {
    color: var(--grayishBlue);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 400;
    font-family: "Barlow Condensed";
    margin-left: 20px;
}

.main__titulo {
    color: var(--veryDarkBlue);
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main__description {
    font-family: 'Barlow', sans-serif;
    color: var(--darkGrayishBlue);
    margin-bottom: 20px;
}

.main__action {
    display: flex;
    font-size: 14px;
    align-items: center;
}

.btn-action {
    padding: 12px 18px 12px 18px;
    border-radius: 0.5em;
    border: none;
    background-color: var(--red);
    color: var(--lightGrayishBlue);
    text-transform: uppercase;
    font-family: 'Barlow Condensed';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
}

footer {
    display: flex;
    justify-content: center;
}

.footer__link {
    color: var(--red);
    text-decoration: none;
}

.footer:visited {
    text-decoration: none;
}

@media screen and (min-width: 480px) {

    body {
        font-size: 17px;
    }

    body::after {
        width: 50vw;
        height: 48vh;
        content: " ";
        background-color: var(--lightGrayishBlue);
        position: absolute;
        top: 0;
        right: -54px;
        z-index: -10;
        border-bottom-left-radius: 70px ;
    }

    .header {
        margin-top: 70px;
        margin-bottom: 100px;
        margin-left: 5em;
        padding: 0;
        width: 80%;
        align-items: flex-start;
    }

    .header__logo{
        padding-left: 90px;
    }

    .header__hamb {
        display: none;
    }

    .header__nav__list {
        width: 30rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 120px;
    }

    .header__link {
        text-decoration: none;
        color: var(--veryDarkBlue);
        text-transform: uppercase;
        font-weight: 700;
    }

    i {
        font-size: 5px;
        color: hsla(235, 7%, 65%, 0.445);
    }

    .header__nav__list__login {
        text-decoration: none;
        color: var(--grayishBlue);
        text-transform: uppercase;
        font-weight: 700;
    }

    .main { 
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        margin-left: 5em;
        margin-top: 1rem;
    }

    .main__img {
        width: 124%;
    }
    
    .main__text {
        width: 50%;
        font-weight: 700;
        align-items: flex-start;
        /* margin-right: 210px; */
        margin-left: 48px;
        padding-right: 0;
        /* padding-top: 35px; */
        padding-bottom: 0;
    }

    .gris {
        letter-spacing: 0.12em;
    }
    
    .main__titulo {
        font-size: 57px;
    }

    footer {
        padding-top: 123px;
    }

}