@import url('https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed:400,700&display=swap');

:root {
   --red: hsl(0, 100%, 68%);
   --veryDarkBlue: hsl(230, 29%, 20%);
   --darkGrayishBlue: hsl(230, 11%, 40%);
   --grayishBlue: hsl(231, 7%, 65%);
   --lightGrayishBlue: hsl(207, 33%, 95%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh; 
    font-family: "Barlow Condesed", sans-serif;
    font-weight: 400;
    font-size: 18px;
    overflow-x: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header__nav__list{
    display: none;
}

.main__img{
    border: 1px solid black;
    width: 150%;
}

.main__text{
    border: 1px solid black;
    padding: 2.5rem;
}

.main__subt{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */

}

.resaltado{
    background-color: var(--veryDarkBlue);
    color: white;
    padding: 0.5em;
    border-radius: 1em;
}

.gris{
    margin-left: 1em;
    color: var(--grayishBlue);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-family: "Barlow Condensed";
}

.main__titulo{
    text-transform: uppercase;
    padding: 1em 0;
}

.main__description{
    font-family: "Barlow";
    color: var(--darkGrayishBlue);
    margin-bottom: 1em;       
}

.main__action{
    display: flex;
    font-size: 0.7em;
    justify-content: space-around;
    align-items: center;
}

.btn-action{
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
    background-color: var(--red);
    color: white;
    text-transform: uppercase;
    font-family: "Barlow Condensed"; 
   
}